div {
    display: flex;
    flex-direction: column;
    justify-content: center;
  width: 200px;
}

lable {
    text-align: center;
}

input {
    font-size: 16px;
    width: 200px;
    height: 25px;
    cursor: pointer;
    border-radius: 2px;
}

button {
    width: 210px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #5f5f5f;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

button:hover {
    box-shadow: 0px 2px 10px rgb(158, 156, 151);
    transition: .2s;
}



.card {
   width: 210px;
   height: auto;
   margin-top: 20px;
}