body {
    width: 450px;
    text-align: center;
}


.inputs_block {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 200px;
    margin-right: 20px;
}

label {
    text-align: center;
}

.inputs {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: flex-start;
}

input {
    font-size: 16px;
    width: 200px;
    height: 25px;
    cursor: pointer;
    border-radius: 2px;
}

button {
    width: 210px;
    height: 40px;
    font-size: 16px;
    text-align: center;
    color: #FFFFFF;
    background: #5f5f5f;
    margin-top: 20px;
    cursor: pointer;
    border: none;
    border-radius: 2px;
}

button:hover {
    box-shadow: 0px 2px 10px rgb(158, 156, 151);
    transition: .2s;
}


.card {
    text-align: center;
    margin-top: 20px;
}


p {
    margin-top: 20px
}